// vars */

// colours *
$background-colour: #F0F0F0;
$main-colour: #990000;
$submain-colour: #009900;
$supporting-submain-colour-1: #006600;
$supporting-submain-colour-2: #339933;
$supporting-submain-colour-3: #669933;

$main-text-colour: #EEEEEE;
$backup-text-colour: $main-colour;
$extra-text-colour: black;

$colours-nav: $submain-colour, $supporting-submain-colour-1, $supporting-submain-colour-2,
$main-colour, $submain-colour, $supporting-submain-colour-1, $supporting-submain-colour-2;
$colours: $submain-colour, $supporting-submain-colour-1, $supporting-submain-colour-2,
$supporting-submain-colour-3, $submain-colour, $supporting-submain-colour-1, $supporting-submain-colour-2;

// fonts

@font-face {
  font-family:Reswysokr;
  src: url("/assets/typeface/reswysokr-webfont.eot");
  src: local("☺"),
  url("/assets/typeface/reswysokr-webfont.woff") format("woff"),
  url("/assets/typeface/reswysokr-webfont.otf") format("opentype"),
  url("/assets/typeface/reswysokr-webfont.svg#reswysokr-webfont") format("svg");
}

$head-font-family: Reswysokr, serif;
$sub-font-family: corbel, helvetica, arial, sans-serif;

// font sizes */

$h1: 3em;
$h1-large: 5em;
$h1-mobile: 2em;
$h2: 1.7em;
$h2-large: 2em;
$h3:18px;
$p: 14px;
$ul-mobile: 1.5em;
$ul-desktop: 1.3em;

// lenghts */
$main-circle-size: 475px;
$small-circle-size: 100px;

// mixins */

@mixin mob-a-styles ($size, $colour) {
  font-size: $size;
  color: $colour;
  text-decoration: none;
}

@mixin transition-handler($element, $length, $easing-type) {
  -webkit-transition: $element $length $easing-type;
  -moz-transition: $element $length $easing-type;
  -o-transition: $element $length $easing-type;
  transition: $element $length $easing-type;
}

@mixin handle-translateX-transformation($value) {
  -webkit-transform: translateX($value);
  -moz-transform: translateX($value);
  -o-transform: translateX($value);
  -ms-transform: translateX($value);
  transform: translateX($value);
}

@mixin handle-translateY-transformation($value) {
  -webkit-transform: translateY($value);
  -moz-transform: translateY($value);
  -o-transform: translateY($value);
  -ms-transform: translateY($value);
  transform: translateY($value);
}

@mixin handle-rotation-transformation($value) {
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -o-transform: rotate($value);
  -ms-transform: rotate($value);
  transform: rotate($value);
}

@mixin add-box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
// main sass */

body, html {
  background: $background-colour;
  margin: 0;
  padding: 0;
}
nav {
  font-family: $head-font-family;
  float: left;

  &.mobile {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;

    > section.mast {
      background: $main-colour;
      padding: 2%;
      width: 98%;
      float: left;

      > h1 {
        width: 75%;
        float: left;
        margin: 0;
        > a {
          @include mob-a-styles($h1-mobile, $main-text-colour);
        }
      }
      > img.menu {
        width: 12%;
        padding: 0 4% 0 9%;
        float: left;
        cursor: pointer;
      }
    }
    >div.overlay {
      visibility: hidden;
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $extra-text-colour;
      z-index: 100;
      &.active {
        visibility: visible;
        opacity: 0.6;
        z-index: 100;
      }
      &.disabled {
        visibility: visible;
        opacity: 0;
        z-index: -100;
        width: 0;
        height: 0;
      }
      &.active, &.disabled {@include transition-handler(opacity, 0.25s, linear);}
    }
    &.side-menu {
      width: 50%;
      @include handle-translateX-transformation(-100%);
      height: 100%;
      position: fixed;
      z-index: 200;
      background-color: $submain-colour;
      opacity: 0.95;
      &.active {
        @include handle-translateX-transformation(0%);
        @include transition-handler(transform, 0.3s, linear);
      }
      &.disabled {
        @include handle-translateX-transformation(-100%);
        @include transition-handler(transform, 0.3s, linear);
      }
    }
    > ul.menu {
      width: 100%;
      float: left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      > li {
        margin: 0;
        padding: 2% 0;
        width: 100%;
        float: left;
        text-align: center;
        > a {
          display: block;
          @include mob-a-styles($ul-mobile, $main-text-colour);
        }
      }
    }
    > button {
      width: 100%;
      font-size: $ul-mobile;
      font-family: $head-font-family;
      color: $main-text-colour;
      margin: 0;
      padding: 2% 0;
      float: left;
      border: 0;
      background: $main-colour;
      &::-moz-focus-inner {
        border: 0;
        padding: 0;
      }
    }
    @for $i from 1 through length($colours) {
      li:nth-child(#{length($colours)}n+#{$i}) {
        background: nth($colours, $i)
      }
    }
    > li:has(a:active) {
      background: $main-colour;
    }
  }

  &.desktop {
    width: 100%;
    float: left;
    margin: 1% 0;
    @include handle-translateY-transformation(-200%);

    &.initial {
      @include handle-translateX-transformation(0%);
      @include transition-handler(transform, 0.4s, ease-out);
    }

    > ul.mainMenu {
      list-style-type: none;
      width: 90%;
      margin: 0 5%;
      padding: 0;
      float: left;
      @media screen and (min-width: 750px) and (max-width: 900px) {
        width:98%;
        margin: 0 1%;
      }
      @media screen and (min-width: 590px) and (max-width: 749px) {
        width:99.6%;
        margin: 0 0.2%;
      }

      > li {
        float: left;
        font-family: $head-font-family;
        color: $main-colour;
        font-size: $h3;
        margin: 0 0 0 7%;
        @media screen and (max-width: 1350px) { margin: 0 0 0 6%; }
        @media screen and (max-width: 1230px) { margin: 0 0 0 5%; }
        @media screen and (max-width: 1115px) { margin: 0 0 0 4%; }
        @media screen and (max-width: 1025px) { margin: 0 0 0 3%; }
        @media screen and (max-width: 950px) { margin: 0 0 0 2%; }
        @media screen and (max-width: 885px) { margin: 0 0 0 1%; }
        &:first-of-type {
          margin: 0;
          @media screen and (min-width: 590px) and (max-width: 749px) {
            margin: 0 0 0 0.1%;
          }
        }
        > div.circle {
          float: left;
          width: 100px;
          height: 100px;
          border: none;
          border-radius: 50px;
          @media screen and (max-width: 650px) {
            width: 80px;
            height: 80px;
          }

          > a {
            display: block;
            text-decoration: none;
            color: $main-text-colour;
            text-align: center;
            vertical-align: middle;
            padding: 35% 0;
            @media screen and (min-width: 590px) and (max-width: 749px) { padding: 34% 0; }
            &.double-line {
              padding: 26% 0;
              @media screen and (min-width: 590px) and (max-width: 749px) {  padding: 19% 0;  }
            }
          }
        }
      }

      @for $i from 1 through length($colours-nav) {
        li:nth-child(#{length($colours-nav)}n+#{$i}) > div.circle {
          background: nth($colours-nav, $i);
          @include transition-handler(background, 0.2s, ease-out);
        }
      }
      > li {
        &:hover {
          > div.circle {
            background: $main-colour;
            @include transition-handler(background, 0.2s, ease-in);
          }
        }

        &:nth-of-type(4) {
          > span.extra-text {
            float: left;
            width: 0;
            margin: 106% 0 0 -85%;
            text-align: center;
          }
          &:hover > div.circle {
            background: $submain-colour;
            @include transition-handler(background, 0.2s, ease-in);
          }
        }
      }
    }
  }
}

section.content {
  float: left;
  width: 90%;
  margin: 0 5%;
  &.mobile {
    margin: 16% 5% 0 5%;
  }
  h2, h3, p, a {
    font-weight: 200;
  }

  > img.loading {
    width: 30%;
    margin: 40% 35%;
    @media screen and (min-width: 800px) {
      width: 10%;
      margin: 20% 45%;
    }
  }

  form {
    font-family: $head-font-family;
    width: 100%;
    float: left;
    overflow: hidden;
    max-height: 0;
    &.active {
      max-height: 2000px;
      @include transition-handler(max-height, 0.5s, linear);
    }
    &.disabled {
      max-height: 0;
      @include transition-handler(max-height, 0.5s, linear);
    }
    input {
      margin: 2% 0;
      float: left;
      width: 98%;
      height: 30px;
      box-sizing: border-box;
      @media screen and (min-width: 700px) {
        width: 98%;
        margin: 0 0 2% 2%;
      }
      &.hide {
        display: none;
      }
    }
    input[type=submit], span.button {
      background: $submain-colour;
      color: $main-text-colour;
      border: none;
      width: 100%;
    }
    span.button {
      text-align: center;
      float: left;
      > input[type=file] {
        width: 25%;
      }
    }
    textarea {
      width: 100%;
      height: 100px;
      float: left;
      border: none;
      font-family: $head-font-family;
      @media screen and (min-width: 800px) {
        width: 98%;
        margin: 0 0 2% 2%;
        box-sizing: border-box;
        border: inherit;
      }
    }
    label {
      width: 100%;
      float: left;
      text-align: center;
    }
    select {
      width: 100%;
      float: left;
      text-align: center;
      margin: 2% 0 0 0;
      background: $background-colour;
      border: none;
      > option {
        height: 1.5em;
        font-size: 1.4em;
        font-family: $head-font-family;
      }
    }
    div.flow {
      margin: 0 0 2% 0;
      float: left;
      width: 100%;
    }
  }

  ul.toolbar {
    color: $main-text-colour;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    > li {
      background: $submain-colour;
      cursor: pointer;
      padding: 2% 0;
      font-size: 18px;
      float: left;
      width: 25%;
      text-align: center;
      &.two {
        width: 50%;
      }
      > div { margin: 0; }
      > div > span > input {width: 25%;}
    }
  }

  button {
    margin: 4% 0 0 0;
    padding: 0 2%;
    background: $main-colour;
    font-family: $head-font-family;
    color: $main-text-colour;
    font-size: $h1-mobile;
    border: none;
    outline: none;
  }

  ul {
    font-family: $head-font-family;
    list-style-type: none;
  }
  div.left-content{
    width: 40%;
    float: left;
  }
  div.right-content {
    width: 60%;
    float: left;
    h2, h3, p {
      color: $main-colour;
      @media screen and (max-width: 600px) {color: $main-text-colour;}
    }
    section.description {
      color: $backup-text-colour;
    }
  }
  div.galleryImgWrapper {
    @include add-box-sizing;
    border:2px solid $main-colour;
    width: 25%;
    float: left;
  }
  div.imgWrapper {
    width: 100%;
    display: block;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    background: $background-colour;
    @include add-box-sizing;
    border-bottom: 1px solid $submain-colour;
    > img {
      width: 100%;
      //margin: -5% 0 0 0;
    }
    @media screen and (min-width: 600px) {
      border-bottom: none;
    }
  }

  > section.about {
    float: left;
    @media screen and (max-width: 1001px) {
      width: 100%;
    }
    > img {
      width: 35%;
      border: 5px solid $main-colour;
      float: left;
      margin: 3.25% 2% 1.25% 0;
      @include add-box-sizing;
      @media screen and (max-width: 450px) {  width: 100%; margin-bottom: 4%;  }
      @media screen and (min-width: 601px) {  margin: 1.25% 2% 1.25% 0;  }
    }
    > p {
      font-family: $sub-font-family;
      font-weight: 200;
      color: $extra-text-colour;
      font-size: $p;
    }
  }
}

section.content.skills {
  margin: 0 auto;
  width: 100%;
  float: left;
  > ul {
    padding: 0;
    width: 100%;
    float: left;
    @media screen and (min-width: 600px) and (max-width: 799px) {
      width: 48%;
      margin: 2% 0 2% 2%;
    }
    @media screen and (min-width: 800px) and (max-width: 1250px) {
      width: 31%;
      margin: 2% 0 2% 2%;
    }
    @media screen and (min-width: 1251px) {
      width: 23%;
      margin: 2% 0 2% 2%;
    }
    > li {
      color: $extra-text-colour;
      font-size: $h3;

      > ul.sublist {
        padding: 0 0 0 5%;
        margin: 0;
        list-style-type: disc;
        font-family: $sub-font-family;
        width: 95%;
        float: left;
        > li {
          margin: 1% 0;
          width: 100%;
          float: left;
          form {
            width: 87% !important;
          }
          >h3 {
            width: 100%;
            float: right;
            font-size: $h3;
            margin: 0;
            &.short {
              width: 80%;
              float: right;
              margin: -6% 0 0 0;
            }
            > span {
              font-size: $h3;
              font-weight: 200;
            }
          }
        }
      }
      > h3 {
        font-size: $ul-mobile;
        color: $main-colour;
        padding: 0;
        margin: 0;
      }
      h3.short {
        width: 80%;
        float: right;
      }
      ul.toolbar {
        color: $extra-text-colour;
        list-style-type: none;
        background: none;
        cursor: pointer;
        float: right;
        width: 20%;
        margin: 0;
        padding: 0;
        > li {
          background: none;
          float: left;
          margin: 0 0 0 10%;
          &:first-of-type {
            margin: 0;
          }
        }
      }
    }
  }
}
section.content.projects, section.content.work-experience {
  width: 100%;
  margin: 0 auto;

  ul:not(.toolbar) {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;

    > li {
      width: 100%;
      float: left;
      @include add-box-sizing;
      background: $main-colour;
      color: $main-text-colour;
      border: 2px solid $submain-colour;
      margin-bottom: 1%;

      @media screen and (min-width: 800px) {
        &.mobile {
          width: 49%;
          margin-left: 2%;
        }
        &.mobile:first-of-type {
          margin-left: 0;
        }
      }
      @media screen and (min-width: 601px) { color: $main-colour; }
      @media screen and (min-width: 700px) { background: none; border: none; }
      &:first-of-type {
        margin-top: 2%;
        @media screen and (min-width: 601px) { margin-top: 0; }
      }
      .read-more-icon {
        width: 100%;
        float: left;
        color: $main-text-colour;
        font-size: $h2;
        text-align: center;
        padding: 2% 0;
        cursor: pointer;
        @media screen and (min-width: 600px) { color: $submain-colour; }
        &.desktop { color: $submain-colour; }
      }
      section.read-more {
        float: left;
        overflow: hidden;
        width: 100%;
        max-height: 0;
        &.active {
          max-height: 4000px;
          @include transition-handler(max-height, 0.5s, linear);
        }
        &.disabled {
          max-height: 0;
          @include transition-handler(max-height, 0.5s, linear);
        }
        > h3 {
          width: 100%;
          float: left;
          padding: 1% 0 2% 2%;
          margin: 0;
          @media screen and (min-width: 600px) { padding: 0 0 2% 0; }
        }
      }

      ul.skills {
        width: 100%;
        float: left;
        padding: 0 0 2% 2%;
        margin: 0;
        @media screen and (min-width: 600px) { width: 98%; padding: 0; margin-top: -2%; }
        >li {
          float: left;
          font-style: italic;
          text-decoration: underline;
          padding: 0 1%;
          border: none;
          width: auto;
          margin-top: 0;
          &:first-of-type {
            padding-left: 0;
          }
          @media screen and (min-width: 600px) {  color: $main-colour;  }
        }
      }

      h2 {
        width: 100%;
        float: left;
        margin: 0 2%;
        padding: 2% 0;
        @media screen and (min-width: 601px) {
          color: $main-colour;
        }
      }
      section.description, section.moreInfo {
        width: 96%;
        float: left;
        text-align: left;
        margin: 0 2%;
        padding: 2% 0;
        @media screen and (min-width: 601px) {
          color: $main-colour;
        }
        // these below styles are for final html textarea formatting
        > h1 {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > h2 {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > h3 {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > h4 {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > h5 {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > p {
          color: $main-colour;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
        > ul {
          list-style-type: disc;
          float: left;
          margin: 0 0 2% 2%;
         > li {
           color: $main-colour;
           border: none;
           width: 80%;
           @media screen and (max-width: 600px) {
             color: $main-text-colour;
             margin: 0 0 2% 4%;
           }
         }
        }
        > code {
          color: $main-colour;
          float: left;
          @media screen and (max-width: 600px) {
            color: $main-text-colour;
          }
        }
      }
      section.moreInfo {
        @media screen and (min-width: 600px) {
          width: 98%;
          margin: 0 2% 4% 0;
        }
      }
      form {
        >input:not([type=submit]), >textarea {
          background: $main-text-colour;
        }
      }
    }
  }
}
section.content.work-experience {
  width: 100%;
  float: left;
  margin: 0 0 0 0;

  > section.clients, > section.past-employers {
    width: 100%;
    float: left;
    > h2 {
      color: $main-colour;
      font-family: $head-font-family;
      font-size: $h2;
      margin: 2% 0 -1% 0;
    }
    > ul.clients > li > form > ul.toolbar > li > div > span > input[type=file] {
      width: 5%;
    }
  }

  > section.clients {
    > h2 { @media screen and (min-width: 450px) { margin-bottom: 2%; } }
    > ul {
      > li {
        @media screen and (min-width: 450px) {
          @include add-box-sizing;
          border:2px solid $main-colour;
          &:first-of-type { margin-top: 0; }
        }
        @media screen and (min-width: 450px) and (max-width: 800px) { width: 50%; }
        @media screen and (min-width: 801px) and (max-width: 1000px) { width: 33%; }
        @media screen and (min-width: 1001px) { width: 25%; }
    }
  }
  }

  > form {
    margin-top: 3%;
  }
  h3 {
    margin: 0 2%;
  }
  div.upload {
    float: left;
    display: inline-block;
    width: 100%;
  }
}
section.content.contact {

  @media screen and (max-width: 700px) {
    margin: 0 2%;
  }
  @media screen and (min-width: 800px) {
    width: 100%;
    margin: 0;
  }
  > ul {
    list-style-type: none;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 800px) {
      width: 40%;
      margin: 4% 31%;
    }
    > li {
      margin: 2% 0;
      width: 100%;
      float: left;

      > a {
        font-size: $h3;
        text-decoration: none;
        color: $main-colour;
        >span {
          float: left;
          padding-top: 15px;
          &.icon {
            width: 52px;
            height: 52px;
            border: none;
            border-radius: 200px;
            padding-left: 4px;
            padding-top: 4px;
            text-align: center;
            margin: 0 5% 0 0;
            color: $main-text-colour;
            font-size: $h2-large;
            @media screen and (min-width: 600px) {
               width: 36px;
               height: 32px;
               font-size: $h3;
               padding-left: 0;
               padding-top: 5px;
               margin: 2% 5% 0 0;
            }
          }
        }
      }
    }
    @for $i from 1 through length($colours) {
      > li:nth-child(#{length($colours)}n+#{$i}) > a > span.icon {
        background: nth($colours, $i)
      }
    }
    > li > a:hover > span.icon {
      background: $main-colour;
      @include transition-handler(background, 0.25s, linear);
    }
  }
}